<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Funcionários</title>
    <link href="./public/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="content">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="/">Cadastro de Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/usuarios">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Transações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Histórico Transações</a>
        </li>
      </ul>
      <h2>Lista de Usuários</h2>
      <div class="all-cards">
        <div class="container mt-3">
          <div class="row">
                {% for user in users %}
    <div class="card text-center">
        <form action="/delete/api/" method="post">
            <input type="hidden" name="reqDelete" value="{{user.id_usuario}}"/>
            <div class="card mb-4 bg-dark" style="min-width: 18rem; max-width: 18rem">
            <div class="card-header">{{user.ds_nome_completo}}</div>
            <div class="card-body">
              <h6>Data Nascimento: <span class="badge badge badge-light">{{user.dt_nascimento}}</span></h4>
              <h6>CPF: <span class="badge badge badge-light">{{user.nr_cpf}}</span></h4>
              <h6>Email: <span class="badge badge badge-light">{{user.ds_email}}</span></h4>
              <h6>Visão: <span class="badge badge badge-light">{{user.st_visao}}</span></h4>
            <div class="card-footer">
                <a href="/edit">Editar</a>
                <button class="btn btn-outline-danger">Delete</button>
            </div>
            </div>
          </div>
        </form>
      </div>
    {%endfor%}
            
          </div>
        </div>
      </div>
    </div>

    <style>
      body {
        background-color: rgb(219, 219, 219);
        padding: 10px;
      }
      h2 {
        margin-top: 40px;
        text-align: center;
      }

      .card h6{
        color: aliceblue;
      }

      .card-header{
        color: aliceblue;
        font-weight: bold;
        text-align: center;
      }

      .card-footer{
        display: flex;
        justify-content: space-between;
      }
      .card-footer a{
        margin-top: 10px;
      }

    </style>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
